.contact-me-container {
    align-items: center;
    background-color: #FDF7F2;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.tools-used-container {
    align-items: center;
    background-color: #FDF7F2;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.tools-used-image-container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    pad: 1rem;
}

.apps-got-involved-container {
    align-items: center;
    background-color: #FDF7F2;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.apps-got-involved-image-container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    pad: 1rem;
}

.about-gap {
    height: 15%;
}

.tools-used-gap {
    height: 10%;
}

.hit-me-up {
    font-size: 20px;
}

.contact-image-container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    pad: 1rem;
}

.img-circle-enough {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

.github-row {
  display: inline-block;
  align-items: center; /* Centers vertically */
  gap: 10px;
  vertical-align: middle;
}

.email-text{
    align-items: center;
}

.home {
    align-items: flex-start;
    width: 400px;
    height: 500px;
}

.home_container{
    background-color: #FDF7F2;
    width: 400px;
    height:500px;
}


.img-contact {
    border-radius: 50%;
    width: 250px;
    height: 255px;
    align-items: center;
}

.git-container{
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.flutter-container{
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.postman-container {
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.figma-container {
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.bkl-container{
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.nmmc-container{
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.cantemus-container {
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.cross-platform-about {
    height: 250px;
    width: 250px;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
}

.ui-image-about {
    height: 250px;
    width: 250px;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
}

.cross-platform-container {
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}

.ui-image-container {
    padding: 20px;
    width: 250px;
    align-items: center;
    text-align: center;
}


.about-page-container{
    height: 100%;
    background-color: #FDF7F2;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    pad: 1rem;
}

.about-page-image{
    height: 650px;
    width: 350px;
    background-color: grey;
    text-align: center;
}

.about-me-bottom-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    pad: 1rem;
}


.about-me-description-container {
    width: 50%;
}


